[data-oversnap-viewport] {
  display: flex;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;
}

[data-oversnap-viewport]::-webkit-scrollbar {
  width: 0;
  height: 0;
}

[data-oversnap-item] {
  flex-shrink: 0;
  scroll-snap-align: center;
}
